In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random
import secrets

df = pd.read_csv('output/all_sorted.csv')
df['date'] = pd.to_datetime(df['date'],format='%Y-%m-%d')
df

,date,sugg_plt,lnd_pg,sessions,sess_add_cart,sess_co,sess_co_done
0,2024-08-01,7bb991-55,https://shop.example.org/product?=,674,54.0,23.0,16.0
1,2024-08-01,alphabet,https://shop.example.org/product?=,226,18.0,5.0,3.0
2,2024-08-01,direct,https://shop.example.org/product?=,899,27.0,8.0,6.0
3,2024-08-01,duckduckgo,https://shop.example.org/imprint,652,13.0,2.0,1.0
4,2024-08-01,fb werbung,https://shop.example.org/imprint,333,17.0,3.0,2.0
...,...,...,...,...,...,...,...
7118,2025-09-23,shopify,https://shop.example.org/imprint,975,20.0,2.0,1.0
7119,2025-09-23,spiritradar,https://shop.example.org/imprint,448,9.0,4.0,2.0
7120,2025-09-23,syndicatedsearch,https://shop.example.org/imprint,826,50.0,18.0,15.0
7121,2025-09-23,whiskybase,https://shop.example.org/imprint,899,36.0,7.0,4.0
7122,2025-09-23,whiskystats,https://shop.example.org/product?=,457,23.0,10.0,8.0

### Werte aggregieren (Summe)

In [2]:
df.index =  pd.to_datetime(df['date'],format='%Y-%m-%d')
df_agg = df[['sessions', 'sess_add_cart', 'sess_co','sess_co_done']].groupby(by=[df.index.year, df.index.month]).sum()
#df_agg['sess_add_cart'] = df.groupby([['sessions', 'sess_add_cart']]).sum()
df_agg

           sessions  sess_add_cart  sess_co  sess_co_done
date date
2024 8       311580        16788.0   5242.0        3562.0
     9       312754        16648.0   5147.0        3517.0
     10      319082        17232.0   5391.0        3699.0
     11      315841        17083.0   5277.0        3611.0
     12      332542        18243.0   5697.0        3909.0
2025 1       318078        17402.0   5401.0        3688.0
     2       284265        15413.0   4818.0        3301.0
     3       310941        16832.0   5195.0        3535.0
     4       304808        16505.0   5149.0        3512.0
     5       318927        17189.0   5285.0        3626.0
     6       301088        16433.0   5119.0        3503.0
     7       324248        17832.0   5507.0        3742.0
     8       312725        16555.0   5110.0        3451.0
     9       243290        13234.0   4063.0        2767.0