In [2]:
import pandas as pd
from wtf.provider import Provider
from wtf.factory import TabFactory

In [4]:
file = "brandz.csv"
df = TabFactory.df(f"../../Data/Norm/{file}")
# df[df["id"]>1900].head(23)

#print(df["brand_name"])

df[["id", "brand_name"]]

        id          brand_name
0      999              a-case
1     1000             a-derma
2     1001             a-elita
3     1002              a-mega
4     1003           a-product
...    ...                 ...
6348  7347               zwerg
6349  7348            zwilling
6350  7349  zwillingjahenckels
6351  7350                  zx
6352  7351               zyxel

[6353 rows x 2 columns]